APP_NAME=SmartEdu Assistant API
APP_VERSION=0.1.0
APP_DESCRIPTION=API for the SmartEdu Assistant project
API_V1_PREFIX=/api/v1
DEBUG=false
DB_ECHO=false
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=smartedu
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
